*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
html, body{
  display: flex;
  height: 100%;
  width: 100%;
  font-size: 18px;
  background-color: rgb(31, 31, 31);
}

.App{
  display: flex;
  min-height: 100%;
  min-width: 100vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.App-light{
  background-color: rgb(226, 226, 226);

}
.App-dark{
  background-color: rgb(31, 31, 31);
  
}
header{
  width: 100%;
  height: 80px;
}
.navbar{
  display: flex;
  min-width: 540px;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  height: 60px;
  box-shadow: 3px 3px 13px #00000028;
  margin: 10px 20px 0px 20px;
  border-radius: 12px;
}
.navbar-dark{
  background-color: #000000;
}
.navbar-light{
  background-color: #ffffff;
}
.imagen-hdi{
  margin-left: 20px;
  max-height: 60px;
  max-width: 100%;
  object-fit: cover;

}
.container-logoHDI{
  margin-left: 20px;
  width: 100px;
}
.span-eva{
  color: rgb(2, 154, 170);
  font-weight: 500;
  
}
.titulohdirobot-dark{
  color: white;
}
.titulohdirobot-light{
  color: rgb(0, 0, 0);
}
.title-eva{
  margin-left: 10px;
}
.left-nabvar{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.right-nabvar{
  transition: 0.3s ease;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  width: 250px;
  margin-right: 25px;
  color: white;
  
}


.light-toggle {
  width: 60px;
  height: 30px;
  border-radius: 30px;
  background-image: url('../images/nubes5.png'); /* Ruta a la imagen para el tema light */
  background-size: cover; /* Ajusta el tamaño de la imagen si es necesario */
  display: flex;
  align-items: center;
  padding: 2px;
  cursor: pointer;
  border: 1px solid gray;
}

.dark-toggle {
  width: 60px;
  height: 30px;
  border-radius: 30px;
  background-image: url('../images/estrellas1.png'); 
  background-size: cover; /* Ajusta el tamaño de la imagen si es necesario */
  display: flex;
  align-items: center;
  padding: 2px;
  cursor: pointer;
  border: 1px solid rgb(27, 27, 27);
}
.theme-toggle .sliderr{
  color: rgb(234, 255, 140);
}

.theme-toggle input {
  display: none;
}

.theme-toggle .sliderr {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: transparent !important;
  transition: transform 0.4s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-toggle .sliderr:before {
  content: ""; /* Agrega un contenido vacío para ajustar la posición de los iconos */
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s;
}

.dark .sliderr {
  transform: translateX(30px);
}

.dark .sliderr:before {
  transform: translateX(0px);
}


.main{
  display: flex;
  max-height: auto;
  width: 100%;
  min-height: 85vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
option {
  background-color: black; /* Establece el fondo en negro para las opciones */
  color: white; /* Establece el color de la letra en blanco para las opciones */
}
.container-title-eva{
  margin-left: 25px;
}
.footer{
  color: white;
  background-color: rgb(0, 3, 72);
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
}

.footer-left img{
  height: 100px;
  
}
.contenedor-theme{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}

@media (max-width: 630px) {
  .left-nabvar .container-logoHDI{
    display: none;
  }
}
