.card-cli {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(65, 65, 65);
  /* background: linear-gradient(rgb(31, 31, 31), rgb(65, 65, 65), rgb(31, 31, 31)); */
  border-radius: 16px;
  margin-right: 2px;
  height: 650px;
  width: 70px;
  padding-top: 150px;
  padding-bottom: 150px;
}
button {
  background-color: black;
  color: white;
  padding: 6px 10px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.732);
  cursor: pointer;
}
.seteo {
  background-color: tomato !important;
}
.accion-rapida {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.accion-rapida button {
  text-align: center;
  width: 100%;
  height: 100%;
  width: 100%;
}
.contenido-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

